<% layout('layout') -%>
<style>.title h1{color:#3a3a3a}</style>
<div class="classified_page" >
    <div class="container">
        <div class="row classified_listing">
            <div class="title"><h1> Classifieds </h1></div>
            <div class="listing">
                <div></div>
            </div>
        </div>
    </div>
</div>