<% layout('layout') -%>
<section id="top_rider">
    <div class="container">
        <div class="title">
            <h1>Account Deactivated</h1>
        </div>
        <p>Please contact RidePrix Admin, you account was deactivated!</p>
    </div>
    <div class="rider_images"></div>
</section>