<% layout('layout') -%>
<style>.title h1{color:#3a3a3a}</style>
<div class="events_page" data-ng-controller="homeController" >
    <div ng-if='eventsList == ""'><div id="page-loading"><div class="loader"></div></div></div>

    <div class="container">
        <div class="row classified_listing">
            <div class="title"><h1> Events </h1></div>
            <div class="listing">
                <ul id="nav">
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap('all')"><a href="javascript:;">ALL</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap(1)"><a href="javascript:;">JAN</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap(2)"><a href="javascript:;">FEB</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap(3)"><a href="javascript:;">MAR</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap(4)"><a href="javascript:;">APR</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap(5)"><a href="javascript:;">MAY</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap(6)"><a href="javascript:;">JUN</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap(7)"><a href="javascript:;">JUL</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap(8)"><a href="javascript:;">AUG</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap(9)"><a href="javascript:;">SEP</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap(10)"><a href="javascript:;">OCT</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap(11)"><a href="javascript:;">NOV</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap(12)"><a href="javascript:;">DEC</a></li>
		</ul>
                <section id="map" eventsList>
                    <div class="row4"   data-ng-init="drawEventsMap('all')">
                        <!--<div class="row4" data-ng-init="drawEventsMap()">-->
                        <div id="map-canvas" style="width: 100%;height: 500px;"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<div class="modal fade in" id="eventsmodal" role="dialog" aria-labelledby="eventsmodal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="modalbtnclose">&times;</button>
                    <h4 class="modal-title">Event: <span id="eventmodaltext"></span></h4>
                         </div>
              <div class="modal-body">
                   <p id="eventsmsg"></p>
                     </div>
                    <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal" id="modalbtnok">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
       
        $('#modalbtnok').click(function(){
          
           $('#eventsmodal').hide();
           
        });
       
        $('#modalbtnclose').click(function(){
          
           $('#eventsmodal').hide();
           
       });
       
        
    });
    

</script>    