<% layout('layout') -%>
<style>.title h1{color:#3a3a3a}</style>
<div class="classified_page" data-ng-controller="homeController" >
    <div class="container">
        <div class="row classified_listing">
            <div class="title"><h1> Events </h1></div>
            <div class="listing">
                <ul id="nav">
<!--			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap('all')"><a href="#">ALL</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap('all')"><a href="#">JAN</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap('all')"><a href="#">FEB</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap('all')"><a href="#">MAR</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap('all')"><a href="#">APR</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap('all')"><a href="#">MAY</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap('all')"><a href="#">JUN</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap('all')"><a href="#">JUL</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap('all')"><a href="#">AUG</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap('all')"><a href="#">SEP</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap('all')"><a href="#">OCT</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap('all')"><a href="#">NOV</a></li>
			<li class="btn btn-xs btn-info" data-ng-click="drawEventsMap('all')"><a href="#">DEC</a></li>-->
		</ul>
                <section id="map">
                    <div class="row4" data-ng-init="drawEventsMap('all')">
                        <!--<div class="row4" data-ng-init="drawEventsMap()">-->
                        <div id="map-canvas" style="width: 100%;height: 500px;"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>