<% layout('layout') -%>
<div id="homeController" data-ng-controller="homeController">
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="header-back one"></div>
            <div class="container">
                <div class="slide_content">
                    <h1>Welcome To <br><span>Biker's<span> Riding</span></span></h1>
                    <p>Experience natural, innovative health care solutions to help you feel great through all stages of life!</p>
                    <a href="#">Make Riding</a>
                    <div class="app_download">
                        <a href="#"><img src="images/android_app.png"></a>
                        <a href="#"><img src="images/apple_app.png"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="header-back two"></div>
            <div class="container">
                <div class="slide_content">
                    <h1>Welcome To <span>Biker's<span> Riding</span></span></h1>
                    <p>Experience natural, innovative health care solutions to help you feel great through all stages of life!</p>
                    <a href="#">Make Riding</a>
                    <div class="app_download">
                        <a href="#"><img src="images/android_app.png"></a>
                        <a href="#"><img src="images/apple_app.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!--=============================sLIDEr eND===============================================-->
 <section id="promotional_video">
    <div class="container">
        <div class="promotional_video">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1>See Our promotional Video</h1>
                    </div>
                    <div class="col-md-4  wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms;">
                        <h2>our RIDERS are <br>enjoying</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</p>
                        <a href="#" class="learn_more">Learn More</a>
                    </div>
                    <div class="col-md-8 wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 400ms;">
                        <iframe width="100%" height="380" src="https://www.youtube.com/embed/AOJPraw-1BQ" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=============================promotional_video eND===============================================-->
<section id="top_rider">
    <div class="container">
        <div class="title">
            <h1>Our Top Rider’S</h1>
        </div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrake a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unch popularised in the 1960s with the release</p>
    </div>
    <div class="rider_images">
        <div class="col-md-4 wow fadeInLeft animated" data-wow-duration="1000ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms;">
            <div class="rider">
                <img src="images/rider1.jpg">
            </div>
        </div>
         <div class="col-md-4 wow fadeInLeft animated" data-wow-duration="1000ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 400ms;">
            <div class="rider">
                <img src="images/rider2.jpg">
            </div>
        </div>
         <div class="col-md-4 wow fadeInLeft animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms;">
           <div class="rider">
                <img src="images/rider3.jpg">
            </div>
        </div>
    </div>
</section>
<!--=============================top_rider eND===============================================-->
<section id="testimonials">
    <div class="container">
        <div class="title">
            <h1>Our top riders</h1>
        </div>
        <div class="testimonials wow zoomIn animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms;">
            <div class="testi_slide">
                <!--<p>Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis.</p>
                -->
                <span class="arrow"></span>
                <ul>
                    <li>
                        <span class="itemNo">1st</span>
                        <span class="testi_img"><img src="images/user.jpg"></span>
                        <h6>Mike Rider</h6>
                    </li>
                    <li>
                        <span class="itemNo">2nd</span>
                        <span class="testi_img"><img src="images/user.jpg"></span>
                        <h6>Mike Rider</h6>
                    </li>
                    <li>
                        <span class="itemNo">3rd</span>
                        <span class="testi_img"><img src="images/user.jpg"></span>
                        <h6>Mike Rider</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--=============================bLOg eND===============================================-->
<section id="conntdown">
    <div class="container">
        <div class="row">
            <div class="col-md-3 android_app wow fadeInLeft animated" data-wow-duration="1000ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms;">
                <img src="images/android_app.png">
            </div>
            <div class="col-md-6 team wow fadeInLeft animated" data-wow-duration="1000ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 400ms;">
<!--                <img src="images/countdown2.png">-->
                <div class="clock2" style="margin:5px;"></div>
            </div>
             <div class="col-md-3 apple_app wow fadeInLeft animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms;">
                <img src="images/apple_app.png">
            </div>
        </div>
    </div>
</section>
<!--=============================tEAm eND===============================================-->
<section id="newsletter">
    <div class="container">
        <div class="title">
            <h1>SIGNUP For Newsletter</h1>
        </div>
        <div class="row">
            <div class="col-md-12 wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms;">
                <p>Donec ac nisi eget sem ultrices tempus. Phasellus et sem quis felis pharetra con Donec ac nisi eget sem ultrices tempus. Phasellus et sem quis felis pharetra convDonec ac nisi eget sem ultrices tempus. Phasellus et sem quis felis pharetra conv Donec ac nisi eget sem ultrices</p>
                <div class="newsletter_form">
                    <input type="email" placeholder="Enter Your Email Address">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>
</section>
<!--=============================newsletter eND===============================================-->
<section id="map">
    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d184552.57290194163!2d-79.51814299505584!3d43.71815566066473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb90d7c63ba5%3A0x323555502ab4c477!2sToronto%2C+ON%2C+Canada!5e0!3m2!1sen!2sin!4v1482747107801" width="100%" height="500" frameborder="0" style="border:0;pointer-events:none;" allowfullscreen></iframe>-->
    <div class="row4">
        <div id="map-canvas" style="width: 100%;height: 500px;"></div>
    </div>
</section>
<!--=============================mAp eND===============================================-->
</div>