<!DOCTYPE html>
<html lang="en" data-ng-app="ridePrixApp">
<head>
<% include partial/head.ejs %>
</head>
<body <% if(title == "Profile" || title == "Update Profile" ){ %> class="profile" <% } %> id="motorAppBody" data-ng-controller="menuController">
    <% if(title == "Profile" || title == "Update Profile" || title == "Create Event" || title == "List Events"){ %>
        <% include partial/header-profile.ejs %>
    <% }else{ %>
        <% include partial/header.ejs %>
    <% } %>
<%- body %>
<div id="notify_message"></div>
<% include partial/footer.ejs %>
</body>
</html>
   
