<% layout('layout') -%>
<div class="product_page" data-ng-controller="productController">
    <div data-ng-init="productDetail('<%= productId %>')" data-ng-bind-html="productDetailView"></div>
</div>
<div class="related_product" data-ng-controller="productController">
    <div class="overlay_bg"></div>
    <div data-ng-init="relatedProducts()" data-ng-bind-html="relatedProductsView"></div>
</div>
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link href="/css/magnify.css" rel="stylesheet" type="text/css">
<style>
.magnify { width:480px; height:852px; margin:30px auto;}
h1 { margin-top:150px; text-align:center;}
</style>
<script>
$(document).on('click','.product-add-to-cart',function(){
    var product_id = $("#product_id").val();
    var quantity_box = $("#quantity_box").val();
    angular.element(this).scope().addToCart(product_id,quantity_box);
});
</script>