<% layout('layout') -%>

<div class="product_page" data-ng-controller="productController">
<div id="page-loading">
    <div class="loader"></div>
    <!--<img style="display:block; margin:0 auto;" src="/public/images/ajax-loader.gif">-->
</div>
    <div data-ng-init="productDetail('<%= productId %>')" data-ng-bind-html="productDetailView"></div>
</div>
<div class="related_product" data-ng-controller="productController">
    <div class="overlay_bg"></div>
    <div data-ng-init="relatedProducts()" data-ng-bind-html="relatedProductsView"></div>
</div>
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<!--<link href="/css/magnify.css" rel="stylesheet" type="text/css">-->
<link rel="stylesheet" href="//cdn.rawgit.com/thdoan/magnify/master/dist/css/magnify.css">
<script src="//cdn.rawgit.com/thdoan/magnify/master/dist/js/jquery.magnify.js"></script>
<style>
.magnify { width:480px; height:852px; margin:30px auto;}
h1 { margin-top:150px; text-align:center;}
</style>
<script>

$(document).on('click','.product-add-to-cart',function(){
    
    var product_id = $("#product_id").val();
    var quantity_box = $("#quantity_box").val();
    var size_box = $("#size_box").val();
    var color_box = $("#color_box").val();
    
    angular.element(this).scope().addToCart(product_id,quantity_box,size_box,color_box);
});

$(document).on('click','.smallimageuploaded',function(){
      var smallimageid = this.id;
      var smallimgsrc = document.getElementById(smallimageid).src;
      $('.largeimageuploaded').attr('src',smallimgsrc);
      $('.largeimageuploaded').attr('data-magnify-src',smallimgsrc);
     
      
});

//
//$(document).ready(function() {
// // $('.zoom').magnify();
//   $('.zoom').magnify({
//    speed: 200,
//    src: '/public/images/error_bg.jpg'
//  });
//});

$(document).on('click','.zoom',function(){
   var largeimgsrc = document.getElementById('large_image').src;
   var page_url = document.getElementById('url').value;
   
   $('#modal-zoom').css('display','block');
   $('#zoomimage').attr('src',page_url+"/l/600x600/"+largeimgsrc);
   //$('#zoomimage').attr('src',"http://localhost:2286/public/images/error_bg.jpg");
   
   //$('.zoom').magnify();
//   $('.zoom').magnify({
//    speed: 200,
//    src: largeimgsrc,
//   
//  });
    //angular.element(this).scope().imageResize(largeimgsrc);
});

function submitReview(){
    
    var reviewdesc = $('#addReview').val();
    var productId  = $('#productId').val();
    if(reviewdesc == ""){
        $('#errormessagereview').css('display','block');
    }else{
     jQuery.ajax({
        type  : "POST",
        url   : "/sendreview",
        data  : {'reviewdesc' : reviewdesc,'productId':productId},
        //timeout: 3000,
        success: function(data){
            console.log(data.status);
            if(data.status === 'success'){
                $('#modal-review').hide();
                $('#modal-reviewresponse').css('display','block');
                $('#response').text("Thanks for giving reviews!!");
            }
            if(data.status === 'exist'){
               $('#modal-review').hide();
               $('#modal-reviewresponse').css('display','block');
               $('#response').text("You have already given review for this product!!");
            }
        },
        error : function(err){
            //alert( 'err: '+JSON.stringify(err) );           
            //$(".result_del").html('<div class="alert alert-success">User Deleted Successfully!</div>');
        }
    });
    }
}


$(document).on('click','.closereviewresponse',function(){
    
    $('#modal-reviewresponse').css('display','none');
});



$(document).on('click','.productrating',function(){
    
    var starid = this.id;
    var starrate = $('#'+starid).val();
    var starproductId  = $('#starproductId').val();
    
    jQuery.ajax({
        type  : "POST",
        url   : "/rating-product",
        data  : {'starrate' : starrate,'starproductId':starproductId},
        //timeout: 3000,
        success: function(data){
            console.log(data.status);
            if(data.status === 'success'){
               $('#modal-reviewresponse').css('display','block');
               $('#response').text("Thanks for Rating!!");
            }
            if(data.status === 'exist'){
               $('#modal-reviewresponse').css('display','block');
               $('#response').text("You have already rated for this product!!");
            }
        },
        error : function(err){
           
        }
    });
    
});

$(document).on('click','.closezoombox',function(){
    
    $('#modal-zoom').css('display','none');
});


$('body').on('click', function() {
        $('#modal-zoom').hide();
});

/*
 * Show page loader till page loads completely
 */
document.addEventListener("DOMContentLoaded", function(event) {
        /*VANILLA JAVASCRIPT*/
        var element = document.getElementById("page-loading");
        element.parentNode.removeChild(element);
        /* OR WITH jQuery*/
        $('#page-loading')
            .fadeOut('slow');
});

</script>