<% layout('layout') -%>

<div class="search_result" data-ng-controller="shopController" >
    <div class="overlay_bg"></div>
    <div class="container">
        <div class="row">
            <div class="product_listing">
                <div class="title"><h1>Search results</h1>
                    <p>We've got {{shopProductscategorysearch.length}} results</p>
                    
                </div>
                <select class="sortselectsearch" id="selectboxsortbyname"  ng-click="setOrder('name')">
                        <option>Sort By Name</option>
                        <option id="nameasc" value="asc">A to Z</option>
                        <option id="namedesc" value="desc">Z to A</option>
                </select>
                <select class="sortselectsearch" id="selectboxsortbyprice"  ng-click="setOrder('price')">
                        <option>Sort By Price</option>
                        <option id="priceasc" value="asc">Low to high</option>
                        <option id="pricedesc" value="desc">High to Low</option>
                </select>
                <div class="listing">
                    <div class="col-lg-3 col-md-3 col-md-12" >
                       
                        <div class="categorieslist">
                            <h3>Filter</h3>
                            <h4>Categories</h4>
                            <ul data-ng-init="getCategoriesListonsearch()">
                            <!--<li data-ng-if="categoryList.length > 0" data-ng-repeat="category in categoryList" id="{{ category._id }}"  ><a href="/categorysearch?catname={{ category.category_title }}" data-ng-bind="category.category_title"></a></li>-->
                            <li data-ng-if="categoryList.length > 0" data-ng-repeat="category in categoryList" id="{{ category._id }}"  ><input ng-click="filtercheckboxsearch(category.category_title,'categorycheckbox')" class="checkboxfilter" id="{{ category.category_title }}" type="checkbox"><a href="" data-ng-click="getSearch(category.category_title,'category')" data-ng-bind="category.category_title"></a></li>

                            </ul>
<!--                            <ul>
                                <li><a href="#">Men</a></li>
                                <li><a href="#">Women</a></li>
                                <li><a href="#">Boy</a></li>
                                <li><a href="#">Girl</a></li>
                            </ul>-->
                           <h4>Brands</h4>
                            <div class="select_ride">
                            <ul data-ng-init="getBrandsListonsearch()">
                            <!--<li data-ng-if="brandList.length > 0" data-ng-repeat="brand in brandList" id="{{ brand._id }}"  ><a href="/brandsearch?brandname={{ brand.brand_title }}" data-ng-bind="brand.brand_title"></a></li>-->
                            <li data-ng-if="brandList.length > 0" data-ng-repeat="brand in brandList" id="{{ brand._id }}"  ><input ng-click="filtercheckboxsearch(brand.brand_title,'brandcheckbox')" class="checkboxfilter" id="{{ brand.brand_title }}" type="checkbox"><a href="" data-ng-click="getSearch(brand.brand_title,'brand')" data-ng-bind="brand.brand_title"></a></li>

                            </ul>
                            </div>
                           <!--  <h4>Ride Experience</h4>
                            <div class="select_ride">
                                <form>
                                    <p><input type="checkbox"> <label>novice</label></p>
                                    <p><input type="checkbox"> <label>intermediate</label></p>
                                   <p> <input type="checkbox"> <label>expert</label></p>
                                </form>
                            </div>
                            <h4>Ride Category</h4>
                            <div class="select_ride">
                                <form>
                                    <p><input type="checkbox"> <label>superSport</label></p>
                                    <p><input type="checkbox"> <label>cruiser</label></p>
                                    <p><input type="checkbox"> <label>dual</label></p>
                                    <p><input type="checkbox"> <label>sport</label></p>
                                    <p><input type="checkbox"> <label>touring</label></p>
                                   <p> <input type="checkbox"> <label>scooter</label></p>
                                </form>
                            </div>-->
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-md-12" ng-init="currentPage = 0; pageSize = 6;">
                        <div class="row" data-ng-init="getSearch('<%= searchkey %>','searchkeyword')">

                        <div   class="col-lg-12 col-md-12 col-md-12 noresult" data-ng-if="shopProductscategorysearch.length == 0">
                            No Results Found    
                        </div>
                            
                        </div>
                            <div   class="col-lg-4 col-md-6 col-md-12" data-ng-if="shopProductscategorysearch.length > 0" data-ng-repeat="result in shopProductscategorysearch | orderBy : order |  startFrom:currentPage*pageSize | limitTo:pageSize">
                    <!--<div class="col-lg-4 col-md-6 col-md-12" data-ng-if="shopProductscategorysearch.length > 0" dir-paginate="result in shopProductscategorysearch | itemsPerPage:2">-->

                            <div class="item">
                                    <div class="product">
                                        <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left"><i class="glyphicon glyphicon-heart"></i> </a>
                                        <div class="image">
                                            <div class="quickview">
                                                <a data-toggle="modal" class="btn btn-xs btn-quickview" href="#" data-target="">Quick View</a>
                                            </div>     
                                            
                                            <img style="display:inline-block" ng-src="{{result.product_image[0]?('/public/uploads/'+ result.product_image[0]):'http://placehold.it/240x240'}}" alt="img" class="img-responsive"/>

                                            </div>
                                        <div class="description">
                                            <h4><a href="#">{{ result.product_title }}</a></h4>
                                            <span class="size">XL / XXL / S </span>
                                        </div>
                                        <div class="price"><span>${{result.product_price }}</span></div>
                                        <div class="action-control">
                                            <!--<a class="btn btn-danger"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>-->
                                        <button class="btn btn-danger product-add-to-cart" id="{{result._id }}" type="button" data-toggle="modal" data-target="#myModal">
                                                    <i class="glyphicon glyphicon-shopping-cart"> </i>Add to Cart
                                        </button>
                                        <input type="hidden" id="productidgear_{{result._id }}" value="{{ result._id }}">
                                        <input type="hidden" id="quantityboxgear_{{ result._id }}" value="1">
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
<!--                            <div class="col-lg-4 col-md-6 col-md-12">
                                <div class="item">
                                    <div class="product">
                                        <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left"><i class="glyphicon glyphicon-heart"></i> </a>
                                        <div class="image">
                                            <div class="quickview">
                                                <a data-toggle="modal" class="btn btn-xs btn-quickview" href="#" data-target="">Quick View</a>
                                            </div>
                                            <a href="#"><img src="images/related_product.jpg" alt="img" class="img-responsive"></a>
                                        </div>
                                        <div class="description">
                                            <h4><a href="#">Sequitur Mutationem </a></h4>
                                            <span class="size">XL / XXL / S </span>
                                        </div>
                                        <div class="price"><span>$25</span></div>
                                        <div class="action-control">
                                            <a class="btn btn-danger"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-md-12">
                                <div class="item">
                                    <div class="product">
                                        <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left"><i class="glyphicon glyphicon-heart"></i> </a>
                                        <div class="image">
                                            <div class="quickview">
                                                <a data-toggle="modal" class="btn btn-xs btn-quickview" href="#" data-target="">Quick View</a>
                                            </div>
                                            <a href="#"><img src="images/related_product.jpg" alt="img" class="img-responsive"></a>
                                        </div>
                                        <div class="description">
                                            <h4><a href="#">Sequitur Mutationem </a></h4>
                                            <span class="size">XL / XXL / S </span>
                                        </div>
                                        <div class="price"><span>$25</span></div>
                                        <div class="action-control">
                                            <a class="btn btn-danger"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-md-12">
                                <div class="item">
                                    <div class="product">
                                        <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left"><i class="glyphicon glyphicon-heart"></i> </a>
                                        <div class="image">
                                            <div class="quickview">
                                                <a data-toggle="modal" class="btn btn-xs btn-quickview" href="#" data-target="">Quick View</a>
                                            </div>
                                            <a href="#"><img src="images/related_product.jpg" alt="img" class="img-responsive"></a>
                                        </div>
                                        <div class="description">
                                            <h4><a href="#">Sequitur Mutationem </a></h4>
                                            <span class="size">XL / XXL / S </span>
                                        </div>
                                        <div class="price"><span>$25</span></div>
                                        <div class="action-control">
                                            <a class="btn btn-danger"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-md-12">
                                <div class="item">
                                    <div class="product">
                                        <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left"><i class="glyphicon glyphicon-heart"></i> </a>
                                        <div class="image">
                                            <div class="quickview">
                                                <a data-toggle="modal" class="btn btn-xs btn-quickview" href="#" data-target="">Quick View</a>
                                            </div>
                                            <a href="#"><img src="images/related_product.jpg" alt="img" class="img-responsive"></a>
                                        </div>
                                        <div class="description">
                                            <h4><a href="#">Sequitur Mutationem </a></h4>
                                            <span class="size">XL / XXL / S </span>
                                        </div>
                                        <div class="price"><span>$25</span></div>
                                        <div class="action-control">
                                            <a class="btn btn-danger"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-md-12">
                                <div class="item">
                                    <div class="product">
                                        <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left"><i class="glyphicon glyphicon-heart"></i> </a>
                                        <div class="image">
                                            <div class="quickview">
                                                <a data-toggle="modal" class="btn btn-xs btn-quickview" href="#" data-target="">Quick View</a>
                                            </div>
                                            <a href="#"><img src="images/related_product.jpg" alt="img" class="img-responsive"></a>
                                        </div>
                                        <div class="description">
                                            <h4><a href="#">Sequitur Mutationem </a></h4>
                                            <span class="size">XL / XXL / S </span>
                                        </div>
                                        <div class="price"><span>$25</span></div>
                                        <div class="action-control">
                                            <a class="btn btn-danger"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <div class="col-md-12">
<!--                                <div aria-label="Page navigation" class="page_navigation">
                                  <ul class="pagination">
                                    <li>
                                      <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                      </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                      <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>-->
                                <div aria-label="Page navigation" class="page_navigation">
                                   <ul class="pagination">
                                        <li>
                                            <a ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" href="javascript:void(0)" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>

                                        <li>   
                                            <a ng-disabled="currentPage >= shopProductscategorysearch.length/pageSize - 1" ng-click="currentPage=currentPage+1" href="javascript:void(0)" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>

<!--                                <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                                    Previous
                                </button>
                                {{currentPage+1}}/{{shopProductscategorysearch.length/pageSize}}
                                <button ng-disabled="currentPage >= shopProductscategorysearch.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                                    Next
                                </button>-->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap modal -->
<div id="myModal" class="modal fade continueshoppingmodal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add to Cart</h4>
      </div>
      <div class="modal-body">
          <label>Product added to cart successfully!</label>
                <div>
                <table class="table table-hover">
                        <tbody>
                            <tr></tr>
                            <tr>
                                <td><a href="/gear"><button type="button" class="btn btn-warning continue_shoping">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                                    </button></a>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a  href="/cart"><button type="button" class="btn btn-success checkout_btn">
                                        Checkout <span class="glyphicon glyphicon-play"></span>
                                </button></a></td>
                                </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
  </div>
</div>


<script>
$(document).on('click','.product-add-to-cart',function(){
    var prodid = this.id;
    var product_id = $("#productidgear_"+prodid).val();
    var quantity_box = $("#quantityboxgear_"+prodid).val();
    angular.element(this).scope().addToCartfromshop(product_id,quantity_box);
});

</script>