<% layout('layout') -%>
<style>.title h1{color:#3a3a3a}</style>
<div class="product_page" data-ng-controller="shopController">
    <div class="container">
        <div class="row product_listing">
            <div class="title"><h1> Gear </h1></div>
            <div class="listing" data-ng-init="shopProductsList()">
                <div ng-show='shopProductsListView == ""'><div id="page-loading"><div class="loader"></div></div></div>
                <div ng-show='productDetailView != ""' ng-bind-html="shopProductsListView" compile-template></div>
            </div>
        </div>
    </div>
</div>
