.error {color: #ff0000;}
.success {color: #ff0000;}
#signup_form label,#login_form label{color:#fff!important;}
#signup_form label.error,#login_form label.error{color:#ff0000!important;}
#footer{padding: 60px 0px 35px}
#footer p{margin-bottom: 0px;}
#footer .follow_us{margin-top: 10px;}
#footer .event{margin-bottom: 0px;}
#footer .event .date{padding: 6px 10px 6px;}
#footer .event .date p{font-size: 20px;}
#footer .event .event_info h6{margin-bottom: 0px;}
#footer .learn_more{padding: 8px 15px;}
.mk_me_green{color:green}
.mk_me_red{color:red}
.cstm-link-foot .link{cursor: pointer;}
.bold{font-weight: bold;font-size: 16px;}
.testi_slide img{border: 2px solid #ce0000; width: 100px;height: 100px}

.clock1 ul {
    position: relative;
    float: left;
    margin: 5px;
    width: 20px;
    height: 30px;
    font-size: 10px;
    font-weight: bold;
    line-height: 27px;
    border-radius: 6px;
    background: #000;
    padding:10px !important;
}
.clock1 .flip-clock-dot{    display: none;}
.clock1 ul li a div div.inn{font-size: 20px;
    line-height: 30px;}
.clock1 .flip-clock-divider .flip-clock-label {
    position: absolute;
    top: 3.5em;
    right: initial !important;
    color: #fff;
    text-shadow: none;
    left: 15px;
}
.clock1 .flip-clock-divider.minutes .flip-clock-label{left: 30px;}
.clock1 .flip-clock-divider.seconds .flip-clock-label{left: 29px;}
.clock1 .flip-clock-divider{height:50px;}
div#clock-details {display: none;}
.update-profile-page .image-circle {
    max-width: 50%;
    margin-bottom: 10px;
    width: auto;
}
.brdr-all{border: 1px solid #bce8f1;}
.panel-info { border:1px solid #232F40;}
.cart-icon-top i{position: relative;font-size: 17px;}
.cart-icon-top #cart-badge {
    font-size: 14px;
    background: #696969;
    color: #fff;
    padding: 1px 4px;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 20px;
}
.enable-disable-user .switch1 {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 20px;
}

.enable-disable-user .switch1 input {display:none;}

.enable-disable-user .slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.enable-disable-user .slider1:before {
    position: absolute;
    content: "ON";
    height: 14px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    font-size: 10px;
    transition: .2s;
    padding-left: 3px;
    color:#3c8dbc
}

.enable-disable-user input:checked + .slider1 {
  background-color: #2196F3;
}

.enable-disable-user input:focus + .slider1 {
  box-shadow: 0 0 1px #2196F3;
}

.enable-disable-user input:checked + .slider1:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.enable-disable-user .slider1.round {
  border-radius: 34px;
}

.enable-disable-user .slider1.round:before {
  border-radius: 50%;
}