<section id="footer">
    <div class="container">
        <div class="col-md-4 footer wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms;">
           <h3>OUR PARTNERS</h3>
           <p>Lorem Ipsum is simply dummy text of the printing and  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
           <a href="#" class="learn_more">More Info</a>
        </div>
        <div class="col-md-4 footer wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 400ms;" ng-init="latestEvents()">
            <h3>Latest Event</h3>
            <div class="event" ng-repeat="latestevent in footerlatestevents">
                <div class="date">
                    <span ng-bind="latestevent.startDate | date:'MMM'"></span>
                    <p ng-bind="latestevent.startDate | date:'dd'">26</p>
                </div>
                <div class="event_info">
                    <a href="/event?id={{latestevent._id}}" ><h6 ng-bind="latestevent.eventName"></h6></a>
                    <p class="lastestevents-footer">{{ latestevent.description | limitTo: 20 }}{{latestevent.description.length > 20 ? '...' : ''}}<br/><span>{{ latestevent.eventLocation }}</span></p>
                   
                </div>
            </div>
<!--            <div class="event">
                <div class="date">
                    <span>Dec</span>
                    <p>26</p>
                </div>
                <div class="event_info">
                    <h6>Event Name</h6>
                    <p>Lorem Ipsum is simply dummy text </p>
                </div>
            </div>
            <div class="event">
                <div class="date">
                    <span>Dec</span>
                    <p>26</p>
                </div>
                <div class="event_info">
                    <h6>Event Name</h6>
                    <p>Lorem Ipsum is simply dummy text </p>
                </div>
            </div>-->
            
        </div>
        <div class="col-md-4  footer wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms;">
            <h3>LETS US HELP</h3>
            <div class="event cstm-link-foot">
                <div class="event_info">
                    <h6 class="link" onclick="javascript:location.href='/contact/'">Contact US</h6><p></p>
                </div>
            </div>
            <div class="event cstm-link-foot">
                <div class="event_info">
                    <h6 class="link" onclick="javascript:location.href='/about/'">About Us</h6><p></p>
                </div>
            </div>
            <div class="event cstm-link-foot">
                <div class="event_info">
                    <h6 class="link" onclick="javascript:location.href='/shipping-policy'">Shipping Policy</h6><p></p>
                </div>
            </div>
            <div class="event cstm-link-foot">
                <div class="event_info">
                    <h6 class="link" onclick="javascript:location.href='/privacy-policy'">Privacy Policy</h6><p></p>
                </div>
            </div>
            <div class="event cstm-link-foot">
                <div class="event_info">
                    <h6 class="link" onclick="javascript:location.href='/terms'">Terms & Conditions</h6><p></p>
                </div>
            </div>
            <div class="event cstm-link-foot">
                <div class="event_info">
                    <h6 class="link" onclick="javascript:location.href='/faq'">FAQs</h6><p></p>
                </div>
            </div>
            <div class="club_address">
                
                
<!--                <p>638 Ground Road, Main Station,London 00765</p>-->
            </div>
            <!--div class="email_f">
                <a href="mailto:rideprix@gmail.com">rideprix@gmail.com</a>
            </div-->
            <div class="follow_us">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-snapchat" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--=============================fOOTEr eND===============================================-->
<section id="copyright">
    <div class="container">
       <div class="copyright">
        &copy; Copyright 2017 Ride Prix Inc. All Rights Reserved.
       </div>
    </div>
</section>
<!--=============================cOPYRIGHt eND===============================================-->

<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBREdCE5tRpk40DfZbqhMpTvbrJu1tnoRI"></script>-->
<script src='http://maps.googleapis.com/maps/api/js?v=3&sensor=false&amp;libraries=places&key=AIzaSyB9yvMbN0o7etQUdR3GAXbZKh93Jv8I8-o'></script>
<script src="/js/jquery.geocomplete.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script><!-- Website Template -->
<script type="text/javascript" src="/js/jquery.magnify.js"></script>
<script type="text/javascript" src="/js/flipclock.js"></script>
<script type="text/javascript" src="/js/flipclock_days.js"></script>
<script src="/js/pace.min.js"></script><!-- Website Template -->
<script src="/js/bootstrap.min.js"></script><!-- Website Template -->
<script src="/js/wow.min.js"></script><!-- Website Template -->
<script src="/js/inspinia.js"></script><!-- Website Template -->
<script type="text/javascript" src="/js/validate.js"></script><!-- Validations -->
<script type="text/javascript" src="/js/additional_method.js"></script><!-- Validations -->
<script type="text/javascript" src="/js/angular.js"></script><!-- Website Angular Interface -->
<script type="text/javascript" src="/js/front.js"></script><!-- Validations -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="/js/angular-sanitize.js"></script><!-- Website Angular Interface -->
<script type="text/javascript" src="/js/app.js"></script><!-- Website Angular Interface -->
<script src="/js/moment.min.js"></script>