<section id="footer">
    <div class="container">
        <div class="col-md-4 footer wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms;">
           <h3>About RidePrix</h3>
           <p>Lorem Ipsum is simply dummy text of the printing and  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
           <a href="#" class="learn_more">More Info</a>
        </div>
        <div class="col-md-4 footer wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 400ms;">
            <h3>Latest Event</h3>
            <div class="event">
                <div class="date">
                    <span>Dec</span>
                    <p>26</p>
                </div>
                <div class="event_info">
                    <h6>Event Name</h6>
                    <p>Lorem Ipsum is simply dummy text </p>
                </div>
            </div>
            <div class="event">
                <div class="date">
                    <span>Dec</span>
                    <p>26</p>
                </div>
                <div class="event_info">
                    <h6>Event Name</h6>
                    <p>Lorem Ipsum is simply dummy text </p>
                </div>
            </div>
            <div class="event">
                <div class="date">
                    <span>Dec</span>
                    <p>26</p>
                </div>
                <div class="event_info">
                    <h6>Event Name</h6>
                    <p>Lorem Ipsum is simply dummy text </p>
                </div>
            </div>
            
        </div>
        <div class="col-md-4 footer wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms;">
            <h3>Contact info</h3>
            <div class="club_address">
                <h5>Club Address</h5>
                <p>638 Ground Road, Main Station,London 00765</p>
            </div>
            <div class="email_f">
                <a href="mailto:rideprix@gmail.com">rideprix@gmail.com</a>
            </div>
            <div class="follow_us">
                <h4>Follow Us On:</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--=============================fOOTEr eND===============================================-->
<section id="copyright">
    <div class="container">
       <div class="copyright">
        &copy; Copyrights 2017 by RidePrix.com. All rights reserved.
       </div>
    </div>
</section>
<!--=============================cOPYRIGHt eND===============================================-->
<script src="/js/jquery-2.1.1.js"></script><!-- Website Template -->
<script src="/js/pace.min.js"></script><!-- Website Template -->
<script src="/js/bootstrap.min.js"></script><!-- Website Template -->
<script src="/js/wow.min.js"></script><!-- Website Template -->
<script src="/js/inspinia.js"></script><!-- Website Template -->
<script type="text/javascript" src="/js/validate.js"></script><!-- Validations -->
<script type="text/javascript" src="/js/additional_method.js"></script><!-- Validations -->
<script type="text/javascript" src="/js/front.js"></script><!-- Validations -->
<script type="text/javascript" src="/js/angular.js"></script><!-- Website Angular Interface -->
<script type="text/javascript" src="/js/angular-sanitize.js"></script><!-- Website Angular Interface -->
<script type="text/javascript" src="/js/app.js"></script><!-- Website Angular Interface -->
