<% 
    if(user){
        var imagepath = user.local.profileImage;
        var profileimageplacehold = "http://placehold.it/300";
        if(user.local.profileImage == profileimageplacehold){ 
                imagepath = user.local.profileImage+"?text="+user.local.firstName;
        }

    }
    
                    
%>
<div class="header">
    <div class="header_top">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="next-day-delivery" data-timezone-offset="0" data-countdown-time="2017/01/27 15:00:00">
                    <div class="block-content"></div>
                    <div class="clock1" style="margin:5px;"></div>
                    <div id="clock-details"><span>Hours</span><span>Minutes</span><span>Secs.</span></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="follow_us navbar-right"> 
                    <!--<form class="navbar-form" role="search" method="post" action="/searchProducts">-->
<!--                    <form class="navbar-form" role="search" method="post" >
                        <div class="input-group">
                            <input  class="form-control search-product" placeholder="Search" name="searchbox" id="search-box">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" data-ng-click="submitsearch()"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>   -->
                     <form class="navbar-form" id="searchform" role="search" method="get" action="/searchProducts">
                        <div class="input-group">
                            <input  class="form-control search-product" placeholder="Search" name="search" id="search-box">
                            <div class="input-group-btn">
                                <button class="btn btn-default" id="searchbtn" type="submit" ><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                   
            

                </div>     
               
                <!--<input id="tags" ng-keyup="complete()"/>-->
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="follow_us navbar-right">
                    <p>&nbsp;</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-snapchat" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand logo" href="/"><img src="/images/logo.png"></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="right_side">
                <% if (user !== undefined && user !== null) {  %>
                 <div class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <img style="width: 30px;" class="img-circle" src="<%= imagepath %>">
                    <span class="name"><%= user.local.firstName +' '+ user.local.lastName %></span>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                     <div class="log-arrow-up"></div>
                     <% if (user.local.userLevel == "ADMIN") {  %>
                     <li><a href="/admin"><i class="fa fa-user" data-original-title="" title=""></i> Admin Dashboard</a></li>
                     <% } %>
                     <li><a href="/profile"><i class="fa fa-user" data-original-title="" title=""></i> Profile</a></li>
                     <li><a href="/update-profile"><i class=" fa fa-suitcase" data-original-title="" title="Update Profile"></i>Update Profile</a></li>
<!--                     <li><a href="#"><i class="fa fa-cog" data-original-title="" title=""></i> Settings</a></li>-->
<!--                     <li><a href="#"><i class="fa fa-bell-o" data-original-title="" title=""></i> Notification</a></li>-->
                     <li><a href="/list-events"><i class="fa fa-user" data-original-title="" title=""></i>Events</a></li>
                     <li><a href="/friends"><i class="fa fa-user" data-original-title="" title=""></i>Friends</a></li>
                     <li><a href="/logout"><i class="fa fa-key" data-original-title="" title=""></i> Log Out</a></li>
                  </ul>
                </div>
                <% }else{ %>
                <div class="registration">
                    <a href="/login">Login</a>
                    <a href="/signup">Sign up</a>
                </div>
                <% } %>
                <!--div class="countdown">
                    <img src="/images/countdown.png">
                </div-->
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/gear">Gear</a></li>
                         <li><a href="/events">Events</a></li>
                        <li><a href="/classified">Classifieds</a></li>
                        
                        <li class="cart-icon-top"><a href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>                     
                                                      
                            <span id="cart-badge" class="badge badge-warning" data-ng-init="cartProducts()" data-ng-bind-html="cartProductsCount"></span> 
                            
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<!--=============================hEADEr eND===============================================-->
<% if (user !== undefined && user !== null) { %>
<script data-cfasync="false" type="text/javascript">
var localUserUsername = '<%= user.local.username %>';
</script>
<%  }else{ %>
<script data-cfasync="false"  type="text/javascript">
var localUserUsername = '';
</script>
<% } %>
<script>
    
    $( "#searchbtn" ).click(function() {
        var searchterm = $('#search-box').val();
        if(searchterm != ""){
            return true;
        }else{
            return false;
        }
    });
    
</script>    