<header class="main-header">
    <a href="/" class="logo">
      <span class="logo-mini"><b>R</b>P</span>
      <span class="logo-lg"><b>Ride</b>Prix</span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <% if (user !== undefined && user !== null) {  %>
                    <img src="<%= user.local.profileImage %>" class="user-image" alt="User Image">
                <% } %>
              <span class="hidden-xs">
                <% if (user !== undefined && user !== null) {  %>
                    <%= user.local.firstName+' '+user.local.lastName %>
                <% } %>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="<%= user.local.profileImage %>" class="img-circle" alt="User Image">
                <p>
                <% if (user !== undefined && user !== null) {  %>
                    <%= user.local.firstName+' '+user.local.lastName %>
                <% } %>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/profile" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
</header>
