<aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
            
            <% if (user !== undefined && user !== null) {  %>
                <img src="/public/uploads/<%= user.local.profileImage %>" class="img-circle" alt="User Image">
            <% } %>
        </div>
        <div class="pull-left info">
          <p>
            <% if (user !== undefined && user !== null) {  %>
                <%= user.local.firstName+' '+user.local.lastName %>
            <% } %>
          </p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
        
      <ul class="sidebar-menu">
        <li class="treeview <% if(active == "list-users" || active == "view-user"){ %> active <% } %>">
          <a href="#">
            <i class="fa fa-users"></i> <span> Users Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li <% if(active == "list-users" || active == "view-user"){ %> class="active" <% } %>><a href="/admin/list-users"><i class="fa fa-list"></i> List Users</a></li>
          </ul>
        </li>
        
        <li class="treeview <% if(active == "add-category"){ %> active <% } %>">
        <a href="#">
            <i class="fa fa-users"></i> <span> Category Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li <% if(active == "list-category"){ %> class="active" <% } %>><a href="/admin/list-categories"><i class="fa fa-list"></i> List Categories</a></li>-->
            <li <% if(active == "add-category"){ %> class="active" <% } %>><a href="/admin/category/new"><i class="fa fa-plus"></i> Add Category</a></li>
        </ul>
        </li>
        
        
        
        
        
        <li class="treeview <% if(active == "list-products" || active == "add-product"){ %> active <% } %>">
          <a href="#">
            <i class="fa fa-bicycle"></i> <span>Product Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li <% if(active == "list-products"){ %> class="active" <% } %>><a href="/admin/list-products"><i class="fa fa-list"></i> List Products</a></li>
            <li <% if(active == "add-product"){ %> class="active" <% } %>><a href="/admin/product/new"><i class="fa fa-plus"></i> Add Product</a></li>
          </ul>
        </li>
        <li class="treeview <% if(active == "list-orders" || active == "add-brand" || active == "list-brands" ){ %> active <% } %>">
          <a href="#">
            <i class="fa  fa-shopping-cart"></i> <span>Order Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="active treeview-menu">
            <li <% if(active == "list-orders"){ %> class="active" <% } %>><a href="/admin/list-orders"><i class="fa fa-list"></i> List Orders</a></li>
            <li <% if(active == "list-brands" || active == "add-brand"){ %> class="active" <% } %>>
                <a href="#"><i class="fa fa-circle-o"></i>  <span>Brands </span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li <% if(active == "list-brands"){ %> class="active" <% } %>><a href="/admin/list-brands"><i class="fa fa-list"></i>  List Brands</a></li>
<!--                    <li><a href="#"><i class="fa fa-circle-o"></i>  Featured Brands</a></li>-->
                    <li <% if(active == "add-brand"){ %> class="active" <% } %>><a href="/admin/brand/new"><i class="fa fa-plus"></i> Add Brand</a></li>
                </ul>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-flash"></i> <span>Contact/Suggestion</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/list-contact-requests"><i class="fa fa-list"></i> List Contact Requests</a></li>
            <li class="treeview">
                <a href="/admin/list-suggestions"><i class="fa fa-list"></i> List Suggestion</a>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-flash"></i> <span>Points Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/list-rproutespoints"><i class="fa fa-list"></i> List Rproutes points</a></li>
            <li class="treeview">
                <a href="/admin/add-rproutespoints"><i class="fa fa-plus"></i> Add Rproutes Points</a>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-flash"></i> <span>Events Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/list-eventtypes"><i class="fa fa-list"></i> List Event Types</a></li>
            <li class="treeview">
                <a href="/admin/add-eventtype"><i class="fa fa-plus"></i> Add Event Type</a>
            </li>
          </ul>
        </li>
<!--        <li class="treeview">
          <a href="#">
            <i class="fa fa-share"></i> <span>Multilevel</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Level One
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                <li>
                  <a href="#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
          </ul>
        </li>-->
      </ul>
    </section>
</aside>