<!DOCTYPE html>
<html lang="en" data-ng-app="motorApp">
<head>
<% include partial/head.ejs %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <% include partial/header.ejs %>
        <% include partial/sidebarMenu.ejs %>
            <%- body %>
        <% include partial/footer.ejs %>
    </div>
</body>
</html>
