<% layout('layoutAdmin') -%>
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Orders
        
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    <section class="content" data-ng-controller="adminController">
        <div class="row" data-ng-init="getorderList()"> 
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>
<!--                                        <div class="pull-left">Reviews</div>
                                        <div class="pull-right"><input data-ng-model="search_user.event_type" type="text" class="form-control" placeholder="Search review"></div>
                                        <div class="clearfix"></div>-->
                                    </h3>
                                <div class="result_del"></div>
                                <% if (message.length > 0) { %>
                                    <% if (message_type == "success"){ %>
                                        <div class="alert alert-success"><%= message %></div>
                                    <% }else{ %>
                                        <div class="alert alert-danger"><%= message %></div>
                                    <% } %>
                                <% } %>
                                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Customer Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Customer Email</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Items Count</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Amount</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Order Status</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Action</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-if="orderlist.length > 0" data-ng-repeat="orders in orderlist | orderBy:'addedOn'" id="{{ orders._id }}" role="row" class="odd">
                                                
                                                <td><span data-ng-bind="orders.order_firstname+' '+orders.order_lastname"></span></td>
                                                
                                                <td>
                                                    <span data-ng-bind="orders.order_email"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="orders.count"></span>
                                                </td>
                                                <td>
                                                    <span>${{orders.order_total | number: 2}}</span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="orders.order_status"></span>
                                                </td>
                                                <td>
                                                    <a href="view-order-detail/{{ orders._id }}">View Order Detail Page</a>
                                                </td>
                                               
                                            </tr>
                                            <tr  data-ng-if="orderlist.length <= 0">
                                                <td colspan="5" style="text-align: center">No results found</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                </div>
                                <div class="col-sm-7">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>
  <!-- /.content-wrapper -->