<% layout('layoutAdmin') -%>
<div class="content-wrapper">
    <section class="content-header">
        <h1>View User</h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">View User</li>
        </ol>
    </section>
    <section class="content" id="adminController" data-ng-controller="adminController">
        <div class="row" data-ng-init="getUserDetail('<%= userId %>')">
            <div bind-unsafe-html="userDetailView"></div>
        </div>
    </section>
</div>
<script>
$(document).on('change','#checkbox1',function() {
    angular.element(document.getElementById('adminController')).scope().enableDisableUserAccount($(this).attr('user_id'));
});
</script>