<% layout('layoutAdmin') -%>
<div class="content-wrapper">
    <section class="content-header">
        <h1>View User</h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">View User</li>
        </ol>
    </section>
    <section class="content" data-ng-controller="adminController">
        <div class="row" data-ng-init="getUserDetail('<%= userId %>')">
            <div ng-bind-html="userDetailView"></div>
        </div>
    </section>
</div>